<!DOCTYPE html>
<html>
<head>
    <title>Загрузка XLSX-файлов расписания</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- JQuery Fileupload plugin CSS -->
    <link rel="stylesheet" href="/css/jquery.fileupload.css">

    <!-- Custom page styles -->
    <link rel="stylesheet" href="/css/upload.css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- JavaScript Templates script -->
    <script src="/js/tmpl.min.js"></script>

    <script>
        elt = function(v){
            if (v === null) return '<span class="glyphicon glyphicon-exclamation-sign text-danger"></span>';
            else return v;
        }
        dtype = function(v){
            var t = {
                LECTURE: "лек.",
                WORKSHOP: "пр.",
                LAB: "лаб.",
                QUIZ: "зачёт",
                TUTORIAL: "конс.",
                EXAMINATION: "экзамен"
            };
            return elt( t[v] );
        }
        comment = function(v){
            if (v !== null) return '<li class="comment"><span class="glyphicon glyphicon-comment" data-toggle="tooltip" title="' + v + '"></span></li>';
            else return "";
        }
    </script>

    <script type="text/x-tmpl" id="tmpl-corrupted-list">
        {% for ( var i = 0; i < o.length; i++) { %}
            {% include('tmpl-corrupted-item', o[i]); %}
        {% } %}
    </script>

    <script type="text/x-tmpl" id="tmpl-corrupted-item">
        <div class="item">
            <table>
                <tr>
                    <td>
                        <ol class="breadcrumb">
                            <li class="group">{%#o.group%}</li>
                            <li class="room">{%#elt(o.room)%}</li>
                            <li class="type">{%#dtype(o.type)%}</li>
                            {%#comment(o.comment)%}
                            <br />
                            <li class="date">{%#elt(o.date)%} <span class="glyphicon glyphicon-time"></span> {%#elt(o.offset)%}</li>
                            <li class="lecturer">{%#elt(o.lecturer)%}</li>
                        </ol>
                    </td>
                    <td class="discipline">{%#elt(o.discipline)%}</td>
                </tr>
            </table>
        </div>
    </script>

</head>
<body>
<script>
    $(function() {
        // after page is loaded
    });
</script>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <div id="upload-button" class="btn btn-success fileinput-button">
                <span class="glyphicon glyphicon-upload"></span>&nbsp;
                <span>Выберите файл</span>
                <p>Максимальный размер: 1&nbsp;МБ</p>
                <p>Принимаются только XLSX-файлы</p>
                <input id="fileupload" type="file" name="data_xlsx">
            </div>
            <br/><br/>

            <div id="progress" class="progress progress-striped active">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>

            <div id="log"></div>

            <div id="corrupted-list">
                <!--
                <div class="item">
                    <table>
                        <tr>
                            <td>
                                <ol class="breadcrumb">
                                    <li class="group">ВХАЗ-475</li>
                                    <li class="room">А-29</li>
                                    <li class="type"><span class="glyphicon glyphicon-exclamation-sign text-danger"></span></li>
                                    <br />
                                    <li class="date">25.05 <span class="glyphicon glyphicon-time"></span> <span class="glyphicon glyphicon-exclamation-sign text-danger"></span></li>
                                    <li class="lecturer">Александрина А. Ю.</li>
                                </ol>
                            </td>
                            <td class="discipline">Автоматизация технологических процессов и производств в химической промышленности</td>
                        </tr>
                    </table>
                </div>

                <div class="item">
                    <table>
                        <tr>
                            <td>
                                <ol class="breadcrumb">
                                    <li class="group">ВЭ-511</li>
                                    <li class="room">БЛК-30</li>
                                    <li class="type">лек.</li>
                                    <br />
                                    <li class="date">20.03 <span class="glyphicon glyphicon-time"></span> 5</span></li>
                                    <li class="lecturer">Капля В. И.</li>
                                </ol>
                            </td>
                            <td class="discipline">Системы искусственного интеллекта</td>
                        </tr>
                    </table>
                </div>

                <div class="item">
                    <table>
                        <tr>
                            <td>
                                <ol class="breadcrumb">
                                    <li class="group">ВИЗ-571</li>
                                    <li class="room">гараж № 9</li>
                                    <li class="type">лаб.</li>
                                    <li class="comment"><span class="glyphicon glyphicon-comment" data-toggle="tooltip" title="Комментарий из файла, который частично распознался"></span></li>
                                    <br />
                                    <li class="date">14.05 <span class="glyphicon glyphicon-time"></span> 5</span></li>
                                    <li class="lecturer">Рыбанов А. А.</li>
                                </ol>
                            </td>
                            <td class="discipline"><span class="glyphicon glyphicon-exclamation-sign text-danger"></span></td>
                        </tr>
                    </table>
                </div>

                <div class="item">
                    <table>
                        <tr>
                            <td>
                                <ol class="breadcrumb">
                                    <li class="group">ВХТ-512</li>
                                    <li class="room"><span class="glyphicon glyphicon-exclamation-sign text-danger"></span></li>
                                    <li class="type"><span class="glyphicon glyphicon-exclamation-sign text-danger"></span></li>
                                    <br />
                                    <li class="date"><span class="glyphicon glyphicon-exclamation-sign text-danger"></span> <span class="glyphicon glyphicon-time"></span> 5</span></li>
                                    <li class="lecturer"><span class="glyphicon glyphicon-exclamation-sign text-danger"></span></li>
                                </ol>
                            </td>
                            <td class="discipline">Технология синтеза высокомолекулярных соединений</td>
                        </tr>
                    </table>
                </div>
                -->

            </div>

        </div>
    </div>
</div>

<script src="/js/jquery.ui.widget.js"></script>
<script src="/js/jquery.iframe-transport.js"></script>
<script src="/js/jquery.fileupload.js"></script>
<script>
    $(function () {
        $('#progress').hide();
        $('#fileupload').fileupload({
            dataType: 'json',
            url: '/upload/upload_handler.php',
            maxNumberOfFiles: 1,
            maxFileSize: 1024 * 1024, // 1 MB
            minFileSize: 1024, // 1 kB
            progressInterval: 100, // for debugging purposes
            forceIframeTransport: true,
            add: function( e, data ) {
                // check if the input file name ends with .xlsx
                var ext = data.files[0].name.toLowerCase().split('.').pop();
                if ( ext !== 'xlsx' ) {
                    $('#log').addClass('bg-warning');
                    $('#log').text('Стоп. Принимаются только файлы расписания в формате xlsx');
                    return false;
                }
                $('#log').hide();
                $('#corrupted-list').hide();
                $('#log').removeClass();
                data.submit();
            },
            send: function (e, data) {
                //$('#progress .progress-bar').css('width', '0');
                $('#progress').show();
                return true;
            },
            /*
            progress: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .progress-bar').css('width', progress + '%').attr('aria-valuenow', progress);
                console.log(progress);
            },
            */
            done: function (e, data) {

                status = data.result.status;
                description = data.result.description;

                if ( status === "ok" && data.result.details instanceof Array && data.result.details.length )
                {
                    $('#log').addClass('bg-warning');
                    $('#log').html(description);
                    document.getElementById("corrupted-list").innerHTML = tmpl("tmpl-corrupted-list", data.result.details);
                    $('.comment span').tooltip();
                    $('#corrupted-list').show();
                }
                else if ( status === "ok" )
                {
                    $('#log').addClass('bg-success');
                    $('#log').html(description);
                }
                else
                {
                    $('#log').addClass('bg-danger');
                    $('#log').html('Ошибка загрузки расписания: ' + description + '<br />' + data.result.details);
                }

                /*
                $.each(data.result.files, function (index, file) {
                    $('<p/>').text(file.name).appendTo(document.body);
                });
                */
            },
            fail: function ( e, data ) {
                $('#log').addClass('bg-danger');
                $('#log').text('error: ' + data.errorThrown + ': ' + data.textStatus);
            },
            always: function (e, data) {
                $('#log').show();
                $('#progress').hide();
                // data.result
                // data.textStatus;
                // data.jqXHR;
                //console.log(data.result + ': ' + data.textStatus);
                //console.log(data);
            }

        });
    });
</script>


</body>
</html>